    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>YaEsta.com - Procesos</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a>Procesos</a>
                </li>
                <li class="active">
                    <strong>Ejecutar Procesos</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="MainCtrl">
         <div class="row">
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                         <button class="btn btn-primary" ng-click="reloadItems()">
                            <i class="fa fa-search">Refrescar Items de &Oacute;rdenes</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                         <button class="btn btn-primary" ng-click="reloadClients()">
                            <i class="fa fa-search">Actualizar Clientes</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                         <button class="btn btn-primary" ng-click="doProcessDate()">
                            <i class="fa fa-search">Iniciar Proceso D&iacute;a</i>
                        </button>
                    </div>
                </div>
            </div>
             <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                         <button class="btn btn-primary" ng-click="migrateGuides()">
                            <i class="fa fa-search">Migrar Gu&iacute;as</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                         <button class="btn btn-primary" ng-click="reloadGuides()">
                            <i class="fa fa-search">Actualizar Gu&iacute;as</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
