    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>YaEsta.com - Clientes</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a>Clientes</a>
                </li>
                <li class="active">
                    <strong>Buscar Cliente</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="customerCtrl">


    <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><strong>Datos de Cliente</strong></h5>

        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div class="row"><input type="text" class="form-control input-sm m-b-xs" id="vorden"
                           placeholder="# de documento" ng-model="customerDocument">
            <button class="btn btn-primary" ng-click="searchCustomer()">
                <i class="fa fa-search">Buscar</i>
            </button>
           
        </div>
        <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar en tabla">
        <table  id="customerTable" class="footable table table-stripped exportTable export-excel" data-page-size="20" data-filter=#filter>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento</th>
    			<th>Email</th>
    			<th>Tel&eacute;fono</th>
    			<th>Direcci&oacute;n</th>
                <th>Provincia</th>
                <th>Cant&oacute;n</th>
                <th>&Uacute;ltima forma de Pago</th>
    			
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ customer.id}}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.customerDocument }}</td>
    			<td>{{ customer.email }}</td>
    			<td>{{ customer.homePhone }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.province}}</td>
                <td>{{ customer.canton}}</td>
                <td>{{ customer.lastPaymentMethod}}</td>
            </tr>
            </tbody>
            <tfoot>
                        <tr>
                            <td colspan="10">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
            </tfoot>
        </table>
        </div>
        <div class="row">
           
        </div>

         

    </div>
    </div>
    </div>
    </div>
    </div>
