    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>YaEsta.com - Órdenes & Items</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a>Órdenes & Items</a>
                </li>
                <li class="active">
                    <strong>Listado de Órdenes</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="orderItemCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><strong>Listado de Órdenes & Items</strong></h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="startDate">Fecha Inicio</label>
                                <div class="input-group date col-lg-3">
                                    <input ui-date ui-date-format="dd-mm-yyyy"  ng-model="startDate"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <label class="control-label col-lg-2" for="finishDate">Fecha Fin</label>
                                <div class="input-group date col-lg-3">
                                    <input ui-date ui-date-format="dd-mm-yyyy" ng-model="finishDate"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <div class="col-lg-2">
                                        <button class="btn btn-primary" ng-click="searchNewItems(startDate,finishDate)">
                                            <i class="fa fa-search">Buscar</i>
                                        </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary" ng-csv="getArray" 
                                    csv-header="['proveedor', 'forma_pago', 'codigo_compra','pedido','codigo_cliente',
                                    'ciudad_destino','provincia_destino','nombre_destinatario','direccion_destinatario',
                                    'telefono_cliente','codigo_producto','descripcion_producto','valor_unitario',
                                    'descuento','numero_items','valor_item','precio_cliente','valor_a_cobrar',
                                    'estado_orden','fecha','delivery','numero_guia','numero_factura']"
                                    filename="exportOrders.csv" field-separator=";" decimal-separator="," add-bom="true">
                                <i class="fa fa-file">Exportar Tabla</i>
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar en tabla">
                        <table  id="orderTable" class="footable table table-stripped exportTable export-excel" data-page-size="20" data-filter=#filter>
                            <thead>
                                <tr>
                                    <th>Proveedor</th>
                                    <th>Forma de Pago</th>
                                    <th>C&oacute;digo de Compra</th>
                                    <th>Pedido</th>
                                    <th>C&oacute;digo de Cliente</th>
                                    <th>Destino-Ciudad</th>
                                    <th>Destino-Provincia</th>
                                    <th>Nombre Destinatario</th>
                                    <th>Direcci&oacute;n Destinatario</th>
                                    <th>Tel&eacute;fono Cliente</th>
                                    <th>C&oacute;digo de Producto</th>
                                    <th>Descripci&oacute;n de Producto</th>
                                    <th>Valor Unitario</th>
                                    <th>Descuento</th>
                                    <th>N&uacute;mero de Items</th>
                                    <th>Valor del Item</th>
                                    <th>Precio Cliente</th>
                                    <th>Valor a cobrar</th>
                                    <th>Estado Orden</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orderItem in orderItemList">
                                    <td>{{ orderItem.supplierName}}</td>
                                    <td>{{ orderItem.wayToPay }}</td>
                                    <td>{{ orderItem.vitexId }}</td>
                                    <td>{{ orderItem.orderSequence }}</td>
                                    <td>{{ orderItem.customerDocument }}</td>
                                    <td>{{ orderItem.customerCanton }}</td>
                                    <td>{{ orderItem.customerState }}</td>
                                    <td>{{ orderItem.customerName }}</td>
                                    <td>{{ orderItem.customerAddress }}</td>
                                    <td>{{ orderItem.customerPhone }}</td>
                                    <td>{{ orderItem.productKey }}</td>
                                    <td>{{ orderItem.productDescription }}</td>
                                    <td>{{ orderItem.unitPrice }}</td>
                                    <td>{{ orderItem.discount }}</td>
                                    <td>{{ orderItem.quantity }}</td>
                                    <td>{{ orderItem.price }}</td>
                                    <td>{{ orderItem.customerValue }}</td>
                                    <td>{{ orderItem.valueReceivables }}</td>
                                    <td>{{ orderItem.statusDescription}}</td>
                                    <td>{{ orderItem.orderDate | date:'yyyy-MM-dd' }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="20">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
