<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Detalle de Orden {{orderComplete.orderId}}</h4>
    </div>
    <div class="modal-body">
        <p><strong>Detalle de la orden {{orderComplete.orderId}}</strong> 
       </p>
		
		
		<div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="customer">Cliente</label>
                                <input type="text" id="customer" name="customer" placeholder="Cliente" class="form-control" ng-disabled="true" ng-model="orderComplete.customerName">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="status">Estado</label>
                                <input type="text" id="status" name="status" ng-model="orderComplete.statusDescription" placeholder="Estado" class="form-control" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="dateO">Fecha</label>
                                <input type="text" id="dateO" name="dateO" placeholder="Fecha" class="form-control" ng-disabled="true" ng-model="orderComplete.creationDate | date:'yyyy-MM-dd HH:mm'">
                            </div>
                        </div>
                         <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="totalO">Valor Total</label>
                                <input type="text" id="totalO" name="totalO" align="right" placeholder="Total" class="form-control" ng-model="orderComplete.value | number:2 " ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-repeat="total in orderComplete.totals">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="totalO">{{total.spanishName}}</label>
                                    <input type="text" id="totalO" align="right" name="totalO" placeholder="Total" class="form-control" value="{{total.value | number:2 }}" ng-disabled="true">
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    

                    <div class="row">
                        
                        
                                <div class="panel-body">
                                    <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Id Producto</th>
                                                <th>Nombre Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Precio de Lista</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in orderComplete.items">
                                                <td>{{ item.productId}}</td>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.listPrice }}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                           
                        
                    </div>
                    <div ng-show="showApprovedCancel">
                        <div>
                            <div class="row">
                                <div class="col-sm-8">
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" ng-click="aproveOrder(orderComplete)">Aprobar</button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" ng-click="cancelOrder(orderComplete)">Cancelar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div ng-show="showGeneratedGuide">
                        <div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <p>Recibe: {{orderComplete.shippingData.address.receiverName}}</p>
                                    <p>Ciudad: {{orderComplete.shippingData.address.city}}</p>
                                    <p>Direccion: {{orderComplete.shippingData.address.street}} {{orderComplete.shippingData.address.number}} {{orderComplete.shippingData.address.complement}}</p>
                                </div>
                                <div class="col-sm-2">
                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table datatable="ng2" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Proveedor</th>
                                                <th>Direccion</th>
                                                <th>Paquetes</th>
                                                <th>Fecha de Despacho</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="supplierInfo in orderComplete.supplierDeliveryInfoList">
                                                <td>{{ supplierInfo.supplier.id}}-{{ supplierInfo.supplier.name}}</td>
                                                <td>{{ supplierInfo.supplier.shippingAddress }}</td>
                                                <td><input type="text"  placeholder="Paquetes" class="form-control" value="{{supplierInfo.packages}}"></td>
                                                <td><input type="date"  placeholder="Fecha" class="form-control" value="{{supplierInfo.deliveryDate}}"></td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" ng-click="generateGuide(orderComplete)">Generar Guias</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
               
            </div>

        </div>
    </div>
		
		
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Cerrar</button>
		<!--
			<button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
		-->
    </div>

</div>

