    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>YaEsta.com - Gu&iacute;as</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a>Procesamiento de Gu&iacute;as</a>
                </li>
                <li class="active">
                    <strong>Listado de Procesamiento de Gu&iacute;as por Estado</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="guideProcessDetailCtrl">


    <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><strong>Listado General de Procesamiento de Gu&iacute;as</strong></h5>

        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        
        <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar en tabla">
       <table  id="guideTable" class="footable table table-stripped" data-page-size="20" data-filter=#filter>
            <thead>
            <tr>
                <th>ID Interno</th>
                <th># Orden</th>
                <th># Gu&iacute;a</th>
                <th>Estado Gu&iacute;a</th>
                <th>Estado Entrega</th>
                <th>Delivery</th>
                <th>Proveedor</th>
                <th>Cliente</th>
                <th>Fecha Orden</th>
                <th>Detalles</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="guide in guideList">
                <td>{{ guide.id}}</td>
                <td>{{ guide.orderId }}</td>
                <td>{{ guide.guideNumber }}</td>
                <td>{{ guide.guideStatus }}</td>
                <td>{{ guide.deliveryStatus }}</td>
                <td>{{ guide.deliveryName }}</td>
                <td>{{ guide.supplierName }}</td>
                <td>{{ guide.customerName }}</td>
                <td>{{ guide.orderDate | date:'yyyy-MM-dd HH:mm'}}</td>
                <td> 
                    <button class="btn btn-primary" ng-click="openGuidesProcess('lg',guide)"><i class="fa fa-search"></i></button>
                </td>
                
            </tr>
            </tbody>
            <tfoot>
                        <tr>
                            <td colspan="10">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
            </tfoot>
        </table>
        </div>
        <div class="row">
             <button type="button" class="btn btn-primary" ng-click="gotoBack()">Volver</button>
        </div>

         

    </div>
    </div>
    </div>
    </div>
    </div>