    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>YaEsta.com - Gu&iacute;as</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a>Gu&iacute;as</a>
                </li>
                <li class="active">
                    <strong>Listado de Gu&iacute;as Generadas</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="guideCtrl">


    <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><strong>Listado de Gu&iacute;as Generadas</strong></h5>

        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2" for="startDate">Fecha Inicio</label>
                <div class="input-group date col-lg-3">
                    <input ng-model="startDate" datetime-picker hour="23" minute='59' placeholder="Seleccione una fecha..." date-format="yyyy-MM-dd HH:mm:ss"/>
                </div>
                <label class="control-label col-lg-2" for="finishDate">Fecha Fin</label>
                <div class="input-group date col-lg-3">
                    <input ng-model="finishDate" datetime-picker hour="23" minute='59' placeholder="Seleccione una fecha..." date-format="yyyy-MM-dd HH:mm:ss"/>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-primary" ng-click="searchGuidesGenerated(startDate,finishDate)">
                        <i class="fa fa-search">Buscar</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" ng-csv="getGuideGeneratedArray" 
                                    csv-header="['id_interno', 'numero_guia', 'nombre_delivery','nombre_cliente','estado_guia',
                                    'estado_delivery','fecha_creacion','fecha_orden','fecha_entrega',
                                    'direccion_destinatario','id_orden','id_proveedor','nombre_proveedor']"
                                    filename="exportGuides.csv" field-separator=";" decimal-separator="," add-bom="true">
                                <i class="fa fa-file">Exportar Tabla</i>
            </button>
        </div>
        <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar en tabla">
        <table  id="guideTable" class="footable table table-stripped" data-page-size="20" data-filter=#filter>
            <thead>
            <tr>
                <th>ID Interno</th>
                <th># Orden</th>
                <th># Gu&iacute;a</th>
                <th>Estado Gu&iacute;a</th>
                <th>Estado Entrega</th>
                <th>Delivery</th>
                <th>Proveedor</th>
    			<th>Cliente</th>
    			<th>Fecha Orden</th>
                <th>Detalles</th>
    	    </tr>
            </thead>
            <tbody>
            <tr ng-repeat="guide in guideGeneratedList">
                <td>{{ guide.id}}</td>
                <td>{{ guide.orderId }}</td>
                <td>{{ guide.guideNumber }}</td>
                <td>{{ guide.guideStatus }}</td>
                <td>{{ guide.deliveryStatus }}</td>
                <td>{{ guide.deliveryName }}</td>
                <td>{{ guide.supplierName }}</td>
                <td>{{ guide.customerName }}</td>
    			<td>{{ guide.orderDate | date:'yyyy-MM-dd HH:mm'}}</td>
    			<td> 
                    <button class="btn btn-primary" ng-click="openGuidesGenerated('lg',guide)"><i class="fa fa-search"></i></button>
                </td>
    			
            </tr>
            </tbody>
            <tfoot>
                        <tr>
                            <td colspan="10">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
            </tfoot>
        </table>
        </div>
        <div class="row">
           
        </div>

         

    </div>
    </div>
    </div>
    </div>
    </div>
