<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">YaEsta.com</strong>
                             </span>
                                <span class="text-muted text-xs block">Acciones <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                         <li class="divider"></li>
                        <li>
							<a ui-sref="login">
								<i class="fa fa-sign-out"></i> Salir
							</a>
						</li>
                    </ul>
                </div>
                <div class="logo-element">
                    <a href=""><img alt="image" class="img-circle" src="img/yaestacom-logo.jpg"></a>
                </div>
            </li>
           
            <li ng-class="{active: $state.includes('app')}">
                <a href=""><i class="fa fa-desktop"></i> <span class="nav-label">{{ 'MODULES' | translate }}</span>  <span class="pull-right label label-primary">*</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('app')}">
                    <li>
                        <a href="">
                            <i class="fa fa-sitemap"></i> 
                            <span class="nav-label">{{ 'Parameters' | translate }}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li ui-sref-active="active"><a ui-sref="modules.catalogs">Cat&aacute;logos</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.parameters">Par&aacute;metros</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.sequences">Secuencias</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.sequenceCreate">Crear Secuencias</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.tramaco">Zonas Tramaco</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.tramacoCreate">Crear Zonas Tramaco</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.tcc">Zonas TCC</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.tccCreate">Crear Zonas TCC</a></li>
                        </ul>
                    </li>   
                    <li>
                        <a href="">
                            <i class="fa fa-sitemap"></i> 
                            <span class="nav-label">{{ 'Security' | translate }}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li ui-sref-active="active"><a ui-sref="modules.users">Usuarios</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.userCreate">Crear Usuarios</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-sitemap"></i> 
                            <span class="nav-label">{{ 'Comercial' | translate }}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li ui-sref-active="active"><a ui-sref="modules.customers">Clientes</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.sellers">Proveedores</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.sellerCreate">Crear Proveedor</a></li>
                        </ul>
                     </li>   
                      <li>
                        <a href="">
                            <i class="fa fa-sitemap"></i> 
                            <span class="nav-label">{{ 'Logistics' | translate }}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li ui-sref-active="active"><a ui-sref="modules.orders">Órdenes</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.order">Consultar Orden</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.orderItems">Informe Items Orden</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.warehouseItems">Items de Bodega</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.guides">Gu&iacute;as</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.newClients">Informe Nuevos Clientes Bodega</a></li>
                        </ul>
                     </li>   
                    <li>
                        <a href="">
                            <i class="fa fa-sitemap"></i> 
                            <span class="nav-label">{{ 'System' | translate }}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li ui-sref-active="active"><a ui-sref="modules.process">Procesos</a></li>
                            <li ui-sref-active="active"><a ui-sref="modules.yaestalog">Log Aplicaci&oacute;n</a></li>
                        </ul>    
                     </li>   
                </ul>
            </li>
            
        </ul>

    </div>
</nav>