<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>YaEsta.com - Marcas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Marcas</a>
            </li>
            <li class="active">
                <strong>Listado de Marcas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5><strong>Listado de Marcas</strong></h5>

    <!--<div ibox-tools></div>-->
</div>
<div class="ibox-content">
    <table class="footable table table-stripped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
			<th>Vitex Id</th>
			
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="brand in main.brands">
            <td>{{ brand.id}}</td>
            <td>{{ brand.name }}</td>
            <td>{{ brand.description }}</td>
			<td>{{ brand.vtextId }}</td>
			
        </tr>
        </tbody>
    </table>


</div>
</div>
</div>
</div>
</div>
