        <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>YaEsta.com - Catalogos</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a>Catalogos</a>
                </li>
                <li class="active">
                    <strong>Listado de Catalogos</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" >


        <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
        <div class="ibox-title">
        <h5><strong>Listado de Catalogos</strong></h5>

        <!--<div ibox-tools></div>-->
        </div>
        <div class="ibox-content">
        <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Vitex Id</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cat in main.catalogs">
                <td>{{ cat.id}}</td>
                <td>{{ cat.name }}</td>
                <td>{{ cat.description }}</td>
                <td>{{ cat.vitexId }}</td>
                
            </tr>
            </tbody>
        </table>


        </div>
        </div>
        </div>
        </div>
        </div>