<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>YaEsta.com - Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Usuarios</a>
            </li>
            <li class="active">
                <strong>Listado de Usuarios</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="usersCtrl">


<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5><strong>Listado de Usuarios</strong></h5>

    <div ibox-tools></div>
</div>

<div class="ibox-content">
    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar en tabla">
    <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.id}}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.userRole.name}}</td>
            <td>
                <button class="btn btn-primary" ng-click="openUser('lg',user)"><i class="fa fa-search"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
            </tfoot>
    </table>


</div>
</div>
</div>
</div>
</div>