<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>YaEsta.com - Zonas TCC</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Zonas TCC</a>
            </li>
            <li class="active">
                <strong>Listado de Zonas TCC</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="tccCtrl">


<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5><strong>Listado de Zonas TCC</strong></h5>

    <div ibox-tools></div>
</div>

<div class="ibox-content">
    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar en tabla">
    <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
        <thead>
        <tr>
            <th>C&oacute;digo</th>
            <th>Provincia</th>
            <th>Cant&oacute;n</th>
            <th>Parroquia</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="zoneT in tccZones">
            <td>{{ zoneT.codigo}}</td>
            <td>{{ zoneT.provincia }}</td>
            <td>{{ zoneT.canton }}</td>
            <td>{{ zoneT.parroquia }}</td>
            <td>
                <button class="btn btn-primary" ng-click="openZone('lg',zoneT)"><i class="fa fa-search"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
            </tfoot>
    </table>


</div>
</div>
</div>
</div>
</div>