<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Creacion de Productos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Productos</a>
            </li>
            <li class="active">
                <strong>Producto</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">

            <div class="tabs-container">

                <tabset>
				    
                    <tab>
                        <tab-heading>
                            Información de Producto
                        </tab-heading>
                        <div class="panel-body">

                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">Nombre:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Nombre de Producto"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Precio:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="$160.00"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Descripción:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Descripcion del Producto"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Etiqueta Título:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="..."></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Etiqueta Descripción:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Ejemplo: Bicicleta de carreras"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Etiqueta Keywords:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Ejem: Repuesto, torque, tornillo"></div>
                                </div>
                            </fieldset>

                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Datos
                        </tab-heading>
                        <div class="panel-body">

                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">ID:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="543"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Modelo:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="..."></div>
                                </div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Cantidad:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Cantidad"></div>
                                </div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Alto:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Alto"></div>
                                </div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Ancho:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Ancho"></div>
                                </div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Profundidad:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Profundidad"></div>
                                </div>
                                
                            </fieldset>


                        </div>
                    </tab>
                    
                    
                </tabset>
                    <button class="btn btn-primary" >Enviar</button>
            </div>


        </div>
    </div>

</div>