<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>YaEsta.com - Proveedores</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Proveedores</a>
            </li>
            <li class="active">
                <strong>Listado de Proveedores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5><strong>Listado de Proveedores</strong></h5>

    <div ibox-tools></div>
</div>
<div class="ibox-content">
    <div class="row">
        <button class="btn btn-primary" ng-csv="getArraySuppliers" 
                csv-header="['id', 'nombre', 'emailContacto','nombreContacto','apellidoContacto',
                'telefono','provincia','canton','direccion']"
                filename="exportSuppliers.csv" field-separator=";" decimal-separator="," add-bom="true">
                                <i class="fa fa-file">Exportar Tabla</i>
        </button>
    </div>
</div>
<div class="ibox-content" ng-controller="sellerCtrl">
    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar en tabla">
    <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
        <thead>
        <tr>
            <th>ID</th>
            <th>Razon Social Proveedor</th>
            <th>Email de Contacto</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="supplier in suppliers">
            <td>{{ supplier.id}}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.contactEmail }}</td>
            <td>
                <button class="btn btn-primary" ng-click="openSupplier('lg',supplier)"><i class="fa fa-search"></i></button>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="deleteSupplier('lg',supplier)"><i class="fa fa-trash"></i></button>
            </td>
           
        </tr>
        </tbody>
        <tfoot>
                        <tr>
                            <td colspan="4">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
            </tfoot>
    </table>


</div>
</div>
</div>
</div>
</div>